<section>
    <div class="container container-px is-max-widescreen py-3">
        <div id="breadcrumb" data-breadcrumb="<%= path %>"></div>
        <sl-breadcrumb class="breadcrumb-list"></sl-breadcrumb>
    </div>
</section>
