<section class="section">
    <div class="container container-px is-max-desktop">
        <sl-card class="page-title">
            <div class="page-title-container py-3">
                <div class="is-size-4 has-text-weight-semibold"><%= sectionTitle %></div>
            </div>
        </sl-card>
    </div>
</section>