.fbl-favorite {
  color: red;
  background-color: white;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.fbl-no-favorite {
  color: gray;
  background-color: white;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

#fbl-favorite-btn:hover {
  opacity: 0.5;
}
