.fbl-favorite {
  background-color: white;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.fbl-favorite:hover {
  opacity: 0.5;
}

.fbl-favorites {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 2;
  background: white;
  border: 1px solid black;
  border-radius: 50%;
  box-shadow: 0 0px 0px rgb(0 0 0 / 20%);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  min-height: 40px;
  min-width: 40px;
}

.fbl-favorites:hover {
  opacity: 0.5;
}

.active {
  color: red;
}
