<% if (user) { %>


<body onload="handleFavorite(<%= JSON.stringify(product) %>,<%= JSON.stringify(user) %>,'load')">
  <button id="fbl-favorite-btn" class="fbl-favorite" type="submit"
    onclick="handleFavorite(<%= JSON.stringify(product) %>,<%= JSON.stringify(user) %>,'click')">
    <span>♥</span>
  </button>
</body>

<% } %>
